.top-nav-collapse {
    background: rgba(153, 0, 0,0.9);
    -moz-box-shadow: 1px 1px 3px 2px #990000;
  -webkit-box-shadow: 1px 1px 3px 2px #990000;
  box-shadow:         1px 1px 3px 2px #990000;
}

.bg-color{
	min-height: 550px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.header{
	min-height: 550px;
}


/*----------------------profile*/

.profile-panel{
	margin-top: 100px;
	margin-bottom: 0px;
	border-radius: 0px; 
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;	
}

.avatar{
	height: 100%;
	width: 350px;
	
}


.social-btn-area{
	height: 100px;    
	background-color:#b31010 ;
	padding: 0;
	box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

.social-block{
	padding-top: 10px; 
}

.social-btn{
	border-radius: 50%;
	border: 1px solid white;	
	padding: 10px;
	margin: 10px;
	width: 50px;
}

.social-btn i{
	color: white;
}

.social-btn i:hover{
	font-size: 20px;
}

@media screen and (min-width: 480px) {
   .avatar{	
	padding: 25px 10px 10px 10px;
	}

	.profile-details{
		padding: 10px 10px 25px 10px;
	}
}




/*-------------------------------------*/


.download-panel{
	
	margin-top:0px;
	padding-top: 0px; 
	height: 120px;

}

.download-btn{
	height: 50px;
	width: 300px;
	margin-top: 25px; 
	border-radius: 0;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid black;
}

/*-----------------------------------------*/

#about{
	background: url('../img/about-banner.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: -3px;
}




.nav-justified>li>a {
	color:black;
	border: 1px solid black;
	border-radius: 0;
	margin: 0px 5px;
}
.nav-pills>li.active>a{
	background-color: #b31010;
	color:white;
}

.nav-pills>li.active>a:link{
	background-color:#b31010;
	color:white;
}
.nav-pills>li.active>a:focus{
	background-color:#b31010;
}
.nav-pills>li.active>a:hover{
	background-color:#b31010;
}

.logo{
	height: 100px;
	width: 500px;
	border-right: 5px solid #BE2525;
	padding-right: 20px;
}


.overlay a i {
    text-align: center;   
    font-size: 64px;
    color: white;
    width: 100px;
	height: 100px;
	/*border: 1px solid black;*/
	line-height: 95px;
	border-radius: 50%;
	background-color: #b31010;
}

.overlay i:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}


.list-group > div {
	padding: 0;
}

.list-group-item{
	height: 75px;
}

.exp-description > p{
	padding-top: 10px;
}

/*---------------------------*/

.carousel{
	height: 300px;
	width: 360px;
	margin: 0 auto;
}

.fa-caret-square-o-left,.fa-caret-square-o-right{
	color:#b31010;
}

.live{
	color:#b31010;
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
}

/*---------------------------*/

#contact .btn-primary:hover{
	background-color: #428bca;
	border-color: #428bca;
}

